* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #f8f9fa;
  --text-profile-color: #82ccdd;

  --bg-color: #373b3e;

  --btn-text-color: #212529;
  --btn-bg-color: #82ccdd;
  --btn-bg-color-hover: #5d94a1;

  --btn-contact-text-color: #f8f9fa;
  --btn-contact-bg-color: #1e2125;
  --btn-contact-bg-color-hover: #585a5b;


  --border-color: rgba(248, 249, 250, 0.4);
  --border-image-color: #41666f;

  --icon-bg-color: #1e2125;
  --icon-bg-color-hover: #585a5b;

  --switch-icon-url: url(./assets/sun-icon.svg);
  --translate-icon-url: url(./assets/dark-translate.svg);
}

.light {
  --text-color: #212529;
  --text-profile-color: #0b7285;

  --bg-color: #f8f9fa;

  --btn-contact-text-color: #212529;
  --btn-contact-bg-color: #f9fafb;
  --btn-contact-bg-color-hover: rgba(223, 224, 225, 1);

  --border-color: rgba(35, 39, 47, 0.4);
  --border-image-color: #0b7285;

  --icon-bg-color: #f9fafb;
  --icon-bg-color-hover: rgba(223, 224, 225, 0.7);

  --switch-icon-url: url(./assets/moon-icon.svg);
  --translate-icon-url: url(./assets/light-translate.svg);
}

body {
  background: var(--bg-color) no-repeat top center/cover;
  height: 100vh;
}

body * {
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0;
  padding: 0 24px;
}

.profile {
  text-align: center;
  padding: 24px;
}

.profile img {
  width: 112px;
  border: 3px solid var(--border-image-color);
  border-radius: 50%;
}

.profile p {
  color: var(--text-profile-color);
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

.switch {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.switch-btn {
  background: var(--icon-bg-color) var(--switch-icon-url) no-repeat center;
}

.translate-btn {
  background: var(--icon-bg-color) var(--translate-icon-url) no-repeat center;
}

.switch-btn,
.translate-btn {
  cursor: pointer;
  border: 1px solid var(--border-color);
  padding: 24px;
  border-radius: 99999px;
  transition: all 0.5s;
}

.switch-btn:hover,
.translate-btn:hover {
  background-color: var(--icon-bg-color-hover);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

.primary-link,
.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border-radius: 99999px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
}

.primary-link {
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
}

.primary-link:hover {
  background-color: var(--btn-bg-color-hover);
}

.contact-link {
  background-color: var(--btn-contact-bg-color);
  color: var(--btn-contact-text-color);
  border: 1px solid var(--border-color);
}

.contact-link:hover {
  background-color: var(--btn-contact-bg-color-hover);
}

.social-links ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  font-size: 24px;
}

.social-links .icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 99999px;
  transition: all 0.5s;
}

.social-links .icon-link:hover {
  background-color: var(--icon-bg-color-hover);
}

footer {
  text-align: center;
  padding: 24px 0;
  font-size: 12px;
  font-weight: 400;
}
